<ul class="nav list-category">
    <li ><a href="/1"><span class="glyphicon glyphicon-menu-left pull-left"></span>NodeJS</a></li>
    <li ><a href="/2">Python</a></li>
    <li ><a href="/3">Javascript</a></li>
    <li ><a href="/4">HTML&CSS</a></li>
    <li ><a href="/5">SQL&Cache</a></li>
    <li ><a href="/about">About</a></li>
</ul>

<a href="/article/edit" class="btn btn-success btn-block btn-publish">我要发表文章</a>

<div class="panel panel-default">
    <div class="panel-heading">本周评论排行榜</div>
    <div class="panel-body list-group">
        {{#topList.byHit}}
        <a class="list-group-item" href="/a{{ArticleId}}">{{Title}}</a>
        {{/topList.byHit}}
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">本周浏览排行榜</div>
    <div class="panel-body list-group">
        {{#topList.byComment}}
        <a class="list-group-item" href="/a{{ArticleId}}">{{Title}}</a>
        {{/topList.byComment}}
    </div>
</div>