<div class="panel panel-default">
    <div class="panel-heading">排行</div>
    <div class="panel-body list-group">
        <a class="list-group-item" href="#"></a>
        <a class="list-group-item" href="#"></a>
        <a class="list-group-item" href="#"></a>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">排行</div>
    <div class="panel-body list-group">
        <a class="list-group-item" href="#"></a>
        <a class="list-group-item" href="#"></a>
        <a class="list-group-item" href="#"></a>
    </div>
</div>