<div class="jumbotron">
    <div></div>
    <div class="container">
        <div class="media">
            <div class="media-left">
                <a href="#">
                    <img class="media-object img-thumbnail" src="{{target.Portrait}}">
                </a>
            </div>
            <div class="media-body">
                <h3 class="media-heading">{{target.NickName}}</h3>
                <p>
                    <input type="text" value="{{target.Mood}}" class="txt-mood"/>
                    <button class="btn btn-save-mood">发表心情</button>
                </p>
            </div>
        </div>
        <ul class="nav nav-tabs">
            <li><a href="/u{{target.UserId}}">首页</a></li>
            <li><a href="/u{{target.UserId}}/article">文章</a></li>
            <li><a href="/u{{target.UserId}}/mood">心情</a></li>
            <li><a href="/u{{target.UserId}}/collection">收藏</a></li>
            <li><a href="/u{{target.UserId}}/info">资料</a></li>
        </ul>
    </div>
</div>
<script>
    seajs.use('/js/user/center');
</script>