<div class="jumbotron">
    <div class="container">
        <div class="media">
            <div class="media-left">
                <a href="#">
                    <img class="media-object" >
                </a>
            </div>
            <div class="media-body">
                <h4 class="media-heading">{{target.NickName}}</h4>
                <p></p>
            </div>
        </div>
        <ul class="nav nav-pills">
            <li><a href="/u/{{user.UserId}}">首页</a></li>
            <li><a href="/u/{{user.UserId}}/article">文章</a></li>
            <li><a href="/u/{{user.UserId}}/mood">心情</a></li>
            <li><a href="/u/{{user.UserId}}/collection">收藏</a></li>
            <li><a href="/u/{{user.UserId}}/info">资料</a></li>
        </ul>
    </div>
</div>