# Dependency directory
node_modules

# webstorm files
.idea

# bower dependency direcotry
public/libs

# config info
config.json
config/*.json

# visual studio files
obj
*.suo
*.njsproj
*.dat
*.dat.temp

# visual studio code
.settings
typings

# upload files
public/upload

