{{> cover}}
<div class="container margin-top-60">
    <div class="row col-md-11 list-articles">
        {{#if isSelf}}
            <a class="btn btn-success" href="/article/edit">我要发表</a>
        {{/if}}
        {{#articles}}
        <div class="media">
            <div class="media-body">
                <small class="pull-right">{{formatDate PublishTime}}</small>
                <a class="media-heading" href="/a{{ArticleId}}">{{Title}}</a>
                {{#if ../isSelf}}
                    <a href="/a{{ArticleId}}/edit" class="btn-edit-article small hide text-warning" >编辑</a>
                    <a href="javascript:;" class="btn-delete-article small hide text-danger" data-id="{{ArticleId}}">删除</a>
                {{/if}}
                <p>{{Intro}}</p>
            </div>
            <hr/>
        </div>
        {{/articles}}
        <div id="rolloader">
        </div>
    </div>
</div>
<script src="/build/user/article.js"></script>