{{> cover}}
<div class="container margin-top-60">
    <div class="row form-horizontal col-md-12">
        <div class="form-group">
            <label for="icon" class="col-sm-2 control-label">头像</label>
            <div class="col-sm-5">
                <img src="{{user.Portrait}}" class="img-portrait" width="80" height="80"/>
                <input type="file" class="btn-file hidden" accept="image/*"/>
                <input type="button" class="btn btn-default btn-upload" value="修改" />
            </div>
        </div>
        <div class="form-group">
            <lable for="nickname" class="col-sm-2 control-label">昵称</lable>
            <div class="col-sm-5">
                <input type="text" class="form-control txt-name" name="nickname" value="{{user.NickName}}"/>
            </div>
            <p class="col-sm-5 text-danger hidden"></p>
        </div>
        <div class="form-group">
            <lable for="gender" class="col-sm-2 control-label">性别</lable>
            <div class="col-md-5">
                <input type="radio" name="gender" value="1" class="txt-gender" {{bindGender user.Gender 1}}> 男
                <input type="radio" name="gender" value="0" class="txt-gender" {{bindGender user.Gender 0}}> 女
            </div>
        </div>
        <div class="form-group">
            <lable for="Email" class="col-sm-2 control-label">邮箱</lable>
            <div class="col-sm-5">
                <input type="text" name="Email" class="form-control txt-email" value="{{user.Email}}"/>
            </div>
            <p class="col-sm-5 text-danger hidden"></p>
        </div>
        <div class="form-group">
            <lable for="location" class="col-sm-2 control-label">所在地</lable>
            <div class="col-sm-5">
                <input type="text" name="location" class="form-control txt-location" value="{{user.Location}}"/>
            </div>
        </div>
        <div class="form-group">
            <lable for="job" class="col-sm-2 control-label">职业</lable>
            <div class="col-sm-5">
                <input type="text" name="job" class="form-control txt-job" value="{{user.Job}}"/>
            </div>
        </div>
        <div class="form-group">
            <button class="btn btn-warning col-sm-offset-2" id="btn_save">保存</button>
        </div>
    </div>
</div>
<script src="/build/user/config.js"></script>