{{> cover}}
<div class="container">
    <div class="panel panel-default col-md-10 col-md-offset-1">
        <div class="panel-body">
            <div class="row">
                <div class="media col-md-9">
                    <div class="media-left">
                        <img class="media-object" src="{{target.Portrait}}" width="120" height="120">
                    </div>
                    <div class="media-body media-middle">
                        <h2 class="media-heading">{{target.NickName}}</h2>
                        <p>性别：<span>{{getGender target.Gender}}</span></p>
                    </div>
                </div>
            </div>
            <hr/>
            <div class="row">
                <div class="col-md-4">Email：<span>{{target.Email}}</span></div>
                <div class="col-md-5">所在地区：<span>{{target.Location}}</span></div>
                <div class="col-md-9">职业：<span>{{target.Job}}</span></div>
            </div>
            <hr/>
            <div class="row">
                <div class="col-md-4">注册时间：<span>{{formatDate target.RegTime}}</span></div>
                <div class="col-md-8">最后登录时间：<span>{{formatDate target.LastLogTime}}</span></div>
                <div class="col-md-4">文章：<span>{{target.Articles}}</span></div>
                <div class="col-md-4">心情：<span>{{target.Moods}}</span></div>
                <div class="col-md-4">回复：<span>{{target.Comments}}</span></div>
            </div>
        </div>
    </div>
</div>