{{> cover}}

<div class="container">
    <div class="row col-md-11">
        <ul class="list-moods list-unstyled">
            <!--{{#moods}}-->
            <!--&lt;!&ndash;<h3 class="page-header">今天</h3>&ndash;&gt;-->
            <!--<li class="media">-->
                <!--<small class="pull-right">{{formatDate PublishTime}}</small>-->
                <!--<div class="media-body">-->
                    <!--{{Content}}-->
                <!--</div>-->
            <!--</li>-->
            <!--{{/moods}}-->
        </ul>
        <div id="rolloader">
        </div>
    </div>
</div>
<script src="/build/user/mood.js"></script>